* {
    font-family: "RobotoMono, Nerd Fonts";
    min-height: 20px;
}

window#waybar {
    box-shadow: 10px #11111b inset;
    border-bottom-color: #11111b;
    background-color: #1e1e2e;
    color: #cdd6f4;
}