* { 
    padding: 0;
    margin: 0;
}

window#waybar {
    margin: 20px 20px;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#custom-nix,
#temperature,
#cpu,
#memory,
#workspaces,
#tray,
#pulseaudio,
#clock,
#clock-calender,
#custom-power {
    font-family: "RobotoMono, Nerd Fonts";
    padding: 0px;
    font-size: 13px;
    margin: 5px 5px;
    min-width: 90px;
    border-radius: 10px;
    color:#1e1e2e;
}

#custom-nix {
    margin-left: 15px;
    background-color: #ca9ee6;
}
#temperature {
    background-color: #babbf1;
}
#cpu {
    background-color: #8caaee;
}
#memory {
    background-color: #85c1dc;
}
#workspaces {
    background-color: #313244;
    margin: 5px 20px;
    padding: 0px 10px;
}
#workspaces button {
    font-family: "RobotoMono, Nerd Fonts";
    font-size: 13px;
    color: #94e2d5;
    background-color: transparent;
    padding-left: 10px
}
#workspaces button:hover {
    background-color: transparent;
}
#tray {
    background-color: #313244;
    margin: 5px 20px;
    padding: 0px 10px;
}
#pulseaudio {
    background-color: #fab387;
}
#clock {
    background-color: #f9e2af;
}
#clock-calender {
    background-color: #eba0ac;
}
#custom-power {
    margin-right: 15px;
    background-color: #f38ba8;
}